# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'sysstat/defaults.yml' as default_settings %}

{## setup variable using grains['os_family'] based logic ##}
{% set sysstat_settings = salt['grains.filter_by']({
        'Debian': default_settings.sysstat,
        'RedHat': {
            "service": {
                "name": "sysstat",
                "enabled": False
            }
        }
    }, grain="os_family", default='Debian',
    merge=salt['pillar.get']('sysstat:lookup')
)
%}
