{% set sysstat = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'sysstat',
        'config': '/etc/default/sysstat',
    },
    'RedHat': {
        'pkg': 'sysstat',
    }
}, merge=salt['pillar.get']('sysstat:lookup')) %}
